# This is an example file showing which fields are required to run the app.
# Please add a legitimate `secrets.env` file to this directory, complete with
# the necessary stated fields below.

# Client secrets
CLIENT_ID=

REDIRECT_URI=

# GetSongBPM API Key
GET_SONG_BPM_API_KEY=